{{ attach_library('wcm8_patterns/node-toolset') }}

{% if node_bundle|length == 0 %}
  {% set node_bundle = node.bundle %}
{% endif %}

<article {{ bem('node', [node_bundle]) }}>

  {{ title_prefix }}
  {% if not page %}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 2,
      "heading": label,
      "heading_url": url,
      "heading_link_attributes": {
        'rel': 'bookmark'
      },
    } %}
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {% block node_content %}
      <div id="basic-info" class="toolset-section toolset-section--basic-info">
        {% include "@drupal/fields/field-toolset-summary/field-toolset-summary.twig" with {
          field_content: field_toolset_summary,
          field_name: "field-toolset-summary",
          field_type: "string"
        } %}
        {% include "@drupal/fields/field-types/field-type-text-long/field-type-text-long.twig" with {
          field_content: field_toolset_description,
          field_name: "field-toolset-description",
          field_type: "text-long"
        } %}
        {% embed "@drupal/fields/field-link-to-tool/field-link-to-tool.twig" %}
          {% block toolset_button %}
            {% include "@atoms/01-links/link/link.twig" with {
              link_content: toolset_link_title,
              link_url: toolset_link_url,
              link_base_class: 'button',
            } %}
          {% endblock %}
        {% endembed %}
      </div>

      {% include "@organisms/resources-section/resources-section.twig" %}
      {% include "@organisms/related-topics-section/related-topics-section.twig" %}

    {% endblock %}
  </div>

</article>
